*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Repated-using-section */
.fixed-width{
    max-width: 1140px;
    margin: 20px auto;
}
.fixed-font{
      font-family: "Inter", sans-serif;
}





.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.right-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}
.right-nav li{
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
   
   
}
.right-nav a{
     text-decoration: none;
     
}
.list-notsame{
     color: black;
     font-weight: 500;
}

.list-same{
      color: #8987A1;
      font-weight: 500;
}
.right-nav a:hover{
     color: #e85a08;
     cursor: pointer;
     
}
.cart-text{
    display: inline;
}
.cart:hover{
    
     cursor: pointer;
     color: #8987A1;
     
}
.hero-section{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}
.hero-left h1{
    font-family: "Noto Serif", serif;
    font-size: 4.06rem;
}
.hero-left span{
    color: #e85a08;
}
.hero-left p{
     font-family: "Inter", sans-serif;
     font-size: 1.25rem;
     opacity: 0.7;
}






/* responsive-part */
@media  (max-width:576px) {
    
    .header{
        margin: 35px 15px;
    }
    .right-nav a{
        display: none;
       
    }
    .left-nav{
        margin-left: 10px;
    }
    .right-nav{
        margin-right: 25px;
    }

    .cart{
         margin-top: 20px;
        font-size: 25px;
        opacity: 0.8;
       
    }
    .cart-text{
       
         font-size: 25px;
         display: inline;
         opacity: 0.8;
       
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .header{
        width: 100%;
    }
    .hero-right img{
       width: 100%;
    }
    .hero-right{
        width: 100%;
        margin-right: -100px;
        margin-top: -50px;
    }
    .hero-left h1{
       font-size: 2.25rem;
       margin-top: 20px;
    }
    .hero-left p{
        width: 90%;
        font-size: 1.15rem;
        text-align: justify;
        margin-top: 10px;
    }
}

